@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body, html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

@mixin full {
  position: absolute;
  inset: 0;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats {
  @include full;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background .75s  cubic-bezier(0.83, 0, 0.17, 1);

  &-popup {
    position: absolute;
    top: calc(100% - 4rem);
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(.2rem);
    background: rgba(0, 0, 0, .5);
    color: white;
    font-family: 'Share Tech Mono', monospace;
    transform: translate(-50%, -50%) scale(.5);
    transition: top 0.75s cubic-bezier(0.83, 0, 0.17, 1), transform 0.75s cubic-bezier(0.83, 0, 0.17, 1);
    user-select: none;
    h1 {
      padding: 1rem 2rem 0;
      margin: 0;
      font-size: 4rem;
      transition: color .75s  cubic-bezier(0.83, 0, 0.17, 1);
    }
    p {
      padding: 1rem;
      margin: 0;
      font-size: 2rem;
      letter-spacing: -.1rem;
    }
  }

  &.active {
    background: rgba(0, 0, 0, .5);
    .stats {
      &-popup {
        top: 50%;
        transform: translate(-50%, -50%);
        h1 {
          color: rgb(251, 187, 12);
        }
      }
    }
  }
}

.dg.main {
  // position: absolute;
  // top: 30px;
  // right: 0;
}
